.DS_Store
.env
.env.*

.venv/
.vscode/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

node_modules/
dist/
.vite/

backend/.pytest_cache/
backend/__pycache__/
frontend/.vite/
frontend/dist/
frontend/node_modules/